name: Deploy Infrastructure

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      action:
        description: "Select the Terraform action to perform"
        required: true
        default: "plan"
        type: choice
        options:
          - init
          - plan
          - apply
          - destroy


jobs:
  terraform:
    name: Terraform Deploy
    runs-on: ubuntu-latest

    env:
      GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/gcp-key.json

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Write GCP credentials to file
        run: echo "${{ secrets.GCP_CREDENTIALS }}" | base64 -d > gcp-key.json

      # Step 5: Run Terraform Command Based on Input
      - name: Run Terraform Command
        working-directory: terraform
        run: |
          case "${{ github.event.inputs.action }}" in
            init)
              terraform init
              ;;
            plan)
              terraform plan -var="project_id=${{ secrets.GCP_PROJECT_ID }}"
              ;;
            apply)
              terraform apply -auto-approve -var="project_id=${{ secrets.GCP_PROJECT_ID }}"
              ;;
            destroy)
              terraform destroy -auto-approve -var="project_id=${{ secrets.GCP_PROJECT_ID }}"
              ;;
            *)
              echo "Invalid action: ${{ github.event.inputs.action }}"
              exit 1
              ;;
          esac