name: Deploy Infrastructure

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Select the Terraform action to perform"
        required: true
        default: "plan"
        type: choice
        options:
          - apply
          - destroy


jobs:
  terraform:
    name: Terraform Deploy
    runs-on: ubuntu-latest

    env:
      GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/gcp-key.json

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Write GCP credentials to file
        run: echo "${{ secrets.GCP_CREDENTIALS }}" | base64 -d > gcp-key.json

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan

      - name: Run Terraform Command
        working-directory: terraform
        run: |
          if [ "${{ github.event.inputs.action }}" == "apply" ]; then
            terraform apply -auto-approve -var="project_id=${{ secrets.GCP_PROJECT_ID }}"
          elif [ "${{ github.event.inputs.action }}" == "destroy" ]; then
            terraform destroy -auto-approve -var="project_id=${{ secrets.GCP_PROJECT_ID }}"
          else
            echo "Invalid action: ${{ github.event.inputs.action }}"
            exit 1
          fi